## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [10]:
# Your code here


from random import sample
sample_list_1=sample(range(0,100),100)
print(sample_list_1)

[48, 37, 40, 1, 99, 2, 90, 76, 81, 70, 32, 65, 41, 17, 6, 45, 13, 72, 34, 77, 53, 51, 82, 24, 86, 5, 33, 54, 25, 57, 11, 91, 69, 27, 12, 47, 85, 20, 50, 10, 67, 18, 66, 43, 46, 36, 38, 60, 52, 61, 71, 62, 55, 64, 44, 8, 74, 87, 80, 23, 73, 63, 49, 0, 30, 98, 19, 89, 84, 59, 83, 95, 29, 97, 58, 75, 4, 31, 3, 68, 26, 7, 14, 92, 88, 39, 79, 22, 56, 94, 16, 28, 78, 9, 93, 35, 96, 21, 42, 15]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [11]:
# Your code here
set1=set(sample_list_1)

set1

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [12]:
# Your code here


sample_list_2 = random.sample(range(100), k=80)

sample_list_2

[60,
 1,
 69,
 77,
 24,
 85,
 3,
 34,
 53,
 47,
 38,
 78,
 33,
 10,
 8,
 15,
 73,
 45,
 2,
 42,
 29,
 99,
 20,
 11,
 7,
 59,
 43,
 57,
 84,
 40,
 81,
 80,
 72,
 97,
 37,
 13,
 6,
 4,
 22,
 61,
 75,
 88,
 49,
 32,
 89,
 90,
 65,
 74,
 62,
 25,
 95,
 87,
 83,
 30,
 18,
 27,
 76,
 51,
 36,
 93,
 28,
 82,
 98,
 86,
 68,
 96,
 23,
 94,
 35,
 92,
 46,
 54,
 17,
 39,
 55,
 63,
 56,
 44,
 14,
 0]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
# Your code here

set2=set(sample_list_2)

if len(set2)>= 80:
    print("The len of the sample_list_2 is more or equal than 80")
    
else:
    print("The len of the sample_list_2 is less than 80")

The len of the sample_list_2 is more or equal than 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [14]:
# Your code here


set3 = set1-set2

set3

{5, 9, 12, 16, 19, 21, 26, 31, 41, 48, 50, 52, 58, 64, 66, 67, 70, 71, 79, 91}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
# Your code here

set4 = set2-set1

set4

set()

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
# Your code here

set5 = set1.union(set2)

set5

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [25]:
# Your code here

len(set1)
len(set2)
len(set3)
len(set4)
len(set5)


print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

100
80
20
0
100

#### Create an empty set called `set6`.

In [28]:
# Your code here


set6=set()

print("set6=", set6)

set6= set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [30]:
# Your code here


set6.update(set3,set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [31]:
# Your code here

set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [33]:
# Your code here

set1.issubset(set2)

False

In [34]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [39]:
# Your code here

set7 = set3.union(set4).union(set5).union(set1).union(set2)

print(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [40]:
# Your code here
remove = set1.pop()
print(remove)
print(set1)

0
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [55]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

removing_list=set1.copy()
removed_list=set1.copy()

for i in list_to_remove:
    if i in removing_list:
        removed_list = set1.remove(i)
        
print(removed_list)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}